body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: black;
}

.navbar {
    background-color: #004d86;
    padding: 20px;
    text-align: center;
    position: relative;
    color: white;
}

.navbar h1 {
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#kholleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.kholle {
    background-color: white;
    border: 2px solid #004d86;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kholle label {
    margin: 10px 0 5px;
    font-weight: bold;
}

.kholle input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.kholle .remove-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.kholle .remove-button:hover {
    background-color: #e43e3e;
}

#addKholleBtn {
    align-self: center;
}

.button {
    background-color: #004d86;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: #003f6a;
}

#addKholleBtn {

    margin-bottom: -5px;
}
