/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #004d86; /* Couleur bleue */
    padding: 20px;
    text-align: center;
}

.navbar h1 {
    margin: 0;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.button-container .button {
    margin: 0 10px; /* Espace entre les boutons */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button {
    background-color: #004d86;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #003f6a;
}

#profAbsentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px; /* Espace en bas pour le bouton Enregistrer */
}

.prof-absent {
    background-color: white;
    border: 2px solid #004d86;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.prof-absent label {
    display: block;
    margin: 10px 0 5px;
}

.prof-absent input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.prof-absent .remove-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.prof-absent .remove-button:hover {
    background-color: #e43e3e;
}
